testErrs.out
testOut.out
testReport.test
unit/**/*.js
!unit/**/*.testing.js
unit/**/*.wasm
unit/**/*.mjs
unit/**/*.reportA
unit/**/*.reportB
unit/**/*.bc
unit/**/*.ii
unit/**/*.log
unit/**/*.c*_testreport
testDeterminism.?
