#!/usr/bin/make -f

%:
	dh $@ -Scmake --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
	    -DCMAKE_INSTALL_PREFIX=/opt/cheerp

override_dh_auto_install:
	dh_auto_install --destdir=debian/cheerp-utils
	cp LICENSE.TXT README ChangeLog $(CURDIR)/debian/cheerp-utils/opt/cheerp
