#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:

override_dh_auto_install:
	make -C include install INSTALL_PREFIX=$(CURDIR)/debian/duetto-utils/opt/duetto
	make -C tools install INSTALL_PREFIX=$(CURDIR)/debian/duetto-utils/opt/duetto
	make -C tests install INSTALL_PREFIX=$(CURDIR)/debian/duetto-utils/opt/duetto
	make -C webgles install INSTALL_PREFIX=$(CURDIR)/debian/duetto-utils/opt/duetto DUETTO_PREFIX=/opt/duetto
	cp COPYING README ChangeLog $(CURDIR)/debian/duetto-utils/opt/duetto
